:root {
    --shadow: #6a6a6a1b;
    --dark-blue: #0F7AD3;
    --light-blue: #4A3AFF;
    --light-green: #62C2C2;
    --light-grey: #F7F7F7;
    --soft-grey: #FAFAFA;
    --soft-blue: #FBFBFF;
    --white: #fff;
    --large-font: 28px;
    --medium-font: 16px;
    --small-font: 14px;
    --radius: 7px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 7px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #fff;
    border-radius: 4px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: var(--dark-blue);
    border-radius: 7px;
}

@keyframes fadeIn {
    from {
        transform: translateY(17px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.get-started-btn {
    background-color: #0F7AD3;
    color: var(--white);
}

@keyframes fadeModal {
    from {
        transform: scale(0.7);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeOutModal {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}